<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @namespace.name %>
</p>

<p>
  <strong>Values:</strong>
  <%= @namespace.values %>
</p>

<%= link_to 'Edit', edit_namespace_path(@namespace) %> |
<%= link_to 'Back', namespaces_path %>
